*,
::after,
::before {
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary)
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 2px;
    word-break: break-word;
    background: var(--theme)
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
table {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    line-height: 3
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
}

ul {
    padding: 0px
}

a {
    text-decoration: none
}

body,
figure,
ul {
    margin: 0
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all
}

button,
input,
textarea {
    padding: 0;
    font: inherit;
    background: 0 0;
    border: 0;
}

input,
textarea {
    outline: 0
}

button,
input[type=button],
input[type=submit] {
    cursor: pointer
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: 0 0 0 50px var(--theme) inset
}

img {
    display: block;
    max-width: 100%
}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

::-webkit-scrollbar-track {
    background: 0 0
}

.list:not(.dark)::-webkit-scrollbar-track {
    background: var(--code-bg)
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 5px solid var(--theme);
    border-radius: var(--radius)
}

.list:not(.dark)::-webkit-scrollbar-thumb {
    border: 5px solid var(--code-bg)
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary)
}

/* Customs defined by anubhav */
.post-title {
    text-align: center;
}

.post-meta {
    justify-content: center;
    border-bottom: 2px solid var(--primary);
    border-radius: 20px;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.first-entry, .post-entry {
    text-align: center;
}