/* Theme
-------------------------------------------------- */
:root {
    --gap: 20px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 5px;

    --theme: #dec79883;
    --entry: rgba(0, 0, 0, 0.199);
    --primary: rgba(0, 0, 0, 0.699);
    --secondary: rgb(0, 0, 0);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);

    --hljs-bg: #1c1d21;
    --code-bg: #dec79883;
    --border: #eee;
}

@media screen and (max-width: 600px) {
    :root {
        --gap: 14px;
    }
}

.dark {
    --theme: #18181e;
    --entry: #dec79810;
    --primary: #dec798;
    --secondary: #b4a17c;
    --tertiary: rgba(146, 22, 22, 0.16);
    --content: #e7dbc3;

    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #f9faff00;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}